@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  font-family: 'Raleway';
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 2%;
}

h2 {
  text-align: center;
}

.dashboard{
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.btn-link {
  color: black !important;
}

.gen-btn {
  margin-top: 5px;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.btn-divide {
  padding: 1vh;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    text-align: left;
  }

  .Login form {
    margin: 0 auto;
    max-width: 600px;
  }
}

.register-button {
  margin-top: 2%;
}

.nav-logo {
  width: 50px;
}

/* .task {
  background-color: #ededed;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
}  */

.task-att {
  margin: 0;
}
.task-btn {
  margin-top: 0.5em;
}

.timecard {
  background-color: gray;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.timecard-form {
  padding: 2%;
  color: white;
}

.timeSheetName {
  color: red;
  font-weight: bold;
  font-family: 'raleway';
}

.form-check {
  margin-left: 6%;
  margin-bottom: 3%;
}

.dropdown-pay {
  margin-bottom: 3%;
}

.background {
  background-image: url("assets/images/innisfilback.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-of {
  background-image: url("assets/images/innisfilback.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 175vh;
  display: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content-of {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  border-radius: 5px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: left;
  align-items: center;
}

.content {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.content-form {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: left;
  align-items: center;
}

.subtitle {
  color: white;
}

.logo {
  width: 30%;
  height: auto;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homeLogin {
  font-size: 10%;
}

.btn-note {
  text-align: right;
}

nav {
  height: 3em;
}

.navbar-text {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
}

.lo-btn:hover {
  color: grey;
  text-decoration: none;
}
 
.export-csv {
  margin-top: 10px;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.search-cont {
  margin-top: 1em;
  margin-bottom: 1em;
}
.title {
  text-align: left;
}
.search {
  text-align: right;
}

b {
  color: #0275d8;
}

.premium-form {
  padding-top:1em
}

.t-valid {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
}

.t-assign {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
}

.validate-cards {
  background-color: "red";
  padding: "3%";
  margin: "2%";
  border-radius: "5px";
}

.nav-md {
  position: absolute;
  top: 0;
  width: 100%;
}

.mybtn {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
}

.heavy-equip {
  background-color: gold;
  text-align: center;
  padding: 0.2em;
  border-radius: 2px;
  font-weight: bold;
}

.multi-select{
  color: black !important;
}

.ed-bc {
  padding: 0.5em;
}