@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  font-family: 'Raleway';
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 2%;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.dashboard{
  min-height: 100vh;
  background-image: url("assets/images/people.jpg");
  background-position: center;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.btn-link {
  color: black !important;
}

.gen-btn {
  margin-top: 10px;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.btn-divide {
  padding: 1vh;
}


.subtitle {
  color: #273D7C;
  font-weight: 800;
}

.logo {
  width: 30%;
  height: auto;
  margin-top: 5%;
}

.form-check {
  justify-content: center;
  margin-bottom: 2.5%;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    text-align: left;
  }

  .Login form {
    margin: 0 auto;
    max-width: 600px;
  }
}

.nav-logo {
  width: 50px;
}

.task {
  background-color: turquoise;
  border-radius: 1em;
  margin: 2%;
  padding: 2%;
}

.task-att {
  margin: 0;
}
.task-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}